/********************/
/* App Color Scheme */
/*********************

#ED6564 coral
#01C69F green
#9F71E7 error purple
#F5F1FD error purple light
#F5F5F5 lightest gray
#EEEEEE light gray
#686868 dark gray
rgba(148, 148, 148, 0.25) box shadow

*********************/

/*****************/
/* Global styles */
/*****************/
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.App {
  min-width: 320px;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #ed6564;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  color: #ed6564;
  text-transform: uppercase;
  height:60px;
  margin:10px 20px;
}

.divider {
  width: 100%;
  border: 1px solid #F5F5F5;
}

/**********************/
/* EventSearch styles */
/**********************/
.EventSearch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 20px 10px;
  height: 180px;
  background: #ED6564 url(/static/media/heroHeader.33e49ea8.svg) center no-repeat;
  background-size: auto 100%;
  background-position-y: -12px;
}

.hero-header h1 {
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2.7px;
}

.search-card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.search-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;  
  margin: -20px auto 0px auto;
  min-width: 320px;  
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
}

.search-input {
  margin: 0px auto 10px auto;
  min-width: 320px;
  width: 90%;
  border-style: none;
  border-bottom: 2px solid #ED6564;
  border-radius: unset;
  padding-bottom: 10px;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-align: center;
  color: #585858;
}

.location-params {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detect-location {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 20px auto;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 2px;
  color: #585858;
}

.error-message {
  position: relative;
  text-align: center;
  background-color: #F5F1FD;
  border: 1px solid #9F71E7;
  color: #9F71E7;
  padding: 10px;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0px 40px 20px 40px;
  border-radius: 5px;
  font-size: .8em;
}

.error-message i {
  position: absolute;
  left: 5px;
  top: 5px;
}

.error-message p {
  margin: 0px;
}

.detect-location .fa-location-arrow {
  color: #01C69F;
}

.label{
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2.3px;
  color: rgba(88, 88, 88, 0.6);
  margin:20px;
}

.searchButton{
  width: 80%;
  height: 50px;
  position: fixed;
  bottom:24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color:white;
  background-color: #01C69F;
  box-shadow: 0 1px 8px 0 rgba(86, 86, 86, 0.5);
  border-radius: 100px;
  border: none;
}

button:focus {
  outline: none;
}

.btnContain {
  display: flex; 
  justify-content: center;
}

.date-params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.distance-params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;

}

.radio-button {
  padding: 5px 10px;
  text-align: center;
  color: #ED6564;
  border: 1px solid #ED6564;
  border-radius: 20px;
  letter-spacing: 2.7px;
  width:114px;
  max-width: 114px;
  max-height:32px;
}

.active {
  color: #fff;
  background-color: #ED6564;
  font-weight: 600;
  flex-direction: column;
}

.categories {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:20px auto 20px auto;
  font-size: 10px;
  
}

.category {
  word-wrap: break-word;
  width: 125px;
  height: 125px;
  border: .5px solid rgba(88, 88, 88, 0.1);
  text-align: center;
  opacity: .75;
  color:#585858;
}

.category h6,.category-active h6 {
  font-size:12px;
}

.category-active {
  word-wrap: break-word;
  width: 125px;
  height: 125px;
  border: .5px solid rgba(88, 88, 88, 0.1);
  text-align: center;
  opacity: 1;
  color:#ED6564;
}

.category-active i {
  /* background: url(./images/heroHeader.svg) center no-repeat; */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ED6564;
  opacity: 1;
  height:48px;
  width:48px;
  border-radius: 100%;
  margin:16px auto 12px auto;
}

.circle i {
  color: white;
 
}

.active-circle {
  /* add check mark */
}

h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: 2px;
  text-align: center;
  margin:0;
}

input:focus {
  outline: none;
}

/*****************/
/* Events styles */
/*****************/
.Events {
  /* Styles associated with Events container */
}

.heroHeader2{
  display: none;
}

.backToSearch {
  cursor:pointer;
}

.noEventsFound{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: auto 100%;
  margin:40px auto;
}

.empty-illustration{
  background: #fff url(./images/empty_state.svg) center no-repeat;
  width:209px;
  height: 229px;
  align-items: center;
  justify-content: center;
  margin-bottom:40px;
  
}

.noEventsFound p{
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  margin:20px 20px;
  color:#585858;
}

.backToSearchButton{
  display: flex;
  width: 237px;
  height: 50px;
  position: fixed;
  bottom:24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  color:white;
  background-color: #9F71E7;
  box-shadow: 0 1px 8px 0 rgba(86, 86, 86, 0.5);
  border-radius: 100px;
  border: none;
  cursor:pointer;
}

.string-search-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  width:100%;
  height:60px;
  background: #F1F1F1;
}

.string-search-container {
  position: relative;
  width: 90%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
}

.string-search {
  width: 100%;
  padding: 15px 35px;
  background: #FFFFFF;
  border: none;
}

.string-search-icon {
  position: absolute;
  z-index: 10;
  top: 14px;
  left: 10px;
}

.string-search-results-count {
  position: absolute;
  margin: 0px;
  z-index: 10;
  right: 15px;
  top: 13px;
  font-size: .8em;
  color: #ED6564;
}

/*.stringSearchBG button{
  position: absolute;
  right:20px;
  top:82px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 2.7px;
  text-align: right;
  color: #ED6564;
  text-transform: capitalize;
}*/

/**********************/
/* EventDetail styles */
/**********************/
.event-card {
  width: 100%;
}

.event-grid-item {

}

.event-image-container {
  display: flex;
  justify-content: center;
}

.event-image-wrapper {
  max-width: 720px;
  max-height: 280px;
  overflow: hidden;
  box-shadow: 0 1px 70px 0 #EEEEEE;
}

.event-image {
  width: 100%;
  height: auto;
}

.event-info-container {
  display: flex;
  justify-content: center;
  margin: -20px 0px 0px 0px;
}

.event-info-card {
  padding: 20px;
  min-width: 280px;
  margin: 0px 60px;
  height: auto;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
}

.event-title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(42, 42, 42, 0.9);
  margin: 0px 0px 10px 0px;
}

.event-time {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0px;
  font-size: 1.1em;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 1.7px;
  color: #686868;
}

.event-time p {
  margin: 0px;
}

.event-sharing {
  display: flex;
}

.event-sharing a {
  color: #686868;
}

.event-sharing i {
  margin-left: 5px;
}

.react-add-to-calendar {
  position: relative;
}

.react-add-to-calendar__dropdown {
  position: absolute;
  top: 18px;
  right: -10px;
  font-size: .8em;
  font-weight: 300;
  /*width: 165px;*/
  background-color: #efefef;
  border-radius: 5px;
}

.react-add-to-calendar__dropdown ul {
  margin: 0px;
  padding: 10px 10px 0px 10px;
  list-style: none;
}

.react-add-to-calendar__dropdown li {
  margin-bottom: 10px;
  white-space: nowrap;  
}

.react-add-to-calendar__dropdown a:hover {
  color: #01C69F;
}

.react-add-to-calendar__dropdown a {
  text-decoration: none;
}

.event-venue {
  margin: 0px;
  font-size: .9em;
  font-weight: 600;
  padding: 20px 0px 0px 0px;
}

.event-location {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #4a90e2;
}

.event-location p {
  /* Styles associated with event location */
}

.event-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-align: left;
  color: #686868;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  height: 72px;
}

.event-description.expanded {
  overflow: unset;
  height: auto;
}

.view-toggle {
  font-size: .8em;
  font-weight: 900;
  letter-spacing: 2.3px;
  color: #ED6564;
  display: flex;
  justify-content: center;
  cursor:pointer;
}

.view-toggle div {
  text-align: center;
}

.view-toggle p {
  margin: 0px;
}

.event-expanded-container {

}

.event-map-container {

}

.event-map {
  position: relative;
  height: 480px;
  margin: 0px -20px 20px -20px;
}

.directions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.directions p {
  margin: 0px;
  color: #686868;
  font-size: .8em;
  text-align: center;
}

.direction-icons {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.direction-icons a {
  margin: 0px 5px;
  color: #686868;  
}

.direction-icons a:hover {
  color: #01C69F;
}

.event-item-index {
  font-size: .8em;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  color: #686868;
}

.EventGrid {
  column-count: 1;
  column-gap: 20px;
  padding: 10px 20px 0px 20px;
}

.event-grid-item {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
}

.hide-event-extra-details .event-time, .hide-event-extra-details .event-venue, .hide-event-extra-details .event-location, .hide-event-extra-details .event-description, .hide-event-extra-details .event-item-index {
  display: none;
}

.show-event-extra-details .event-time, .show-event-extra-details .event-venue, .show-event-extra-details .event-location, .show-event-extra-details .event-description, .show-event-extra-details .event-item-index {
  display: block;
}

.event-grid-item .event-image-container {
  display: flex;
}

.event-grid-item .event-image-wrapper {
  border-radius: 5px;
  height: 120px;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.event-grid-item .event-image {

}

.event-grid-item .event-info-container {
  margin: 0px;
}

.event-grid-item .event-info-card {
  padding: 10px;
  margin: 0px;
  min-width: 0px;
  box-shadow: none;
  border-radius: none;
}

/*******************/
/* Controls styles */
/*******************/

/* Sloth's Styles for new nest and previous buttons for swiping cards */
.Controls {
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background: transparent;
  border: 0;
  box-shadow: none;
  height: 500px;
}

.previousEventButton, .nextEventButton {
  z-index: 100;
  position: absolute;
  top: 320px;
  display: flex;
  align-items: center;
  color: lightGray;
  font-size: 4em;
  height: 400px;
  width: 60px;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
}

.event-index {
  font-weight: 400;
  margin:24px auto;
  color: #585858;
}

/*****************/
/* Loader styles */
/*****************/
@keyframes seq-preloader {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.seq-preloader {
  background: rgba(255,255,255,.8);
  visibility: visible;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #ED6564;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color:#ED6564;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}

/* Sloth's Styles for new nest and previous buttons for swiping cards */

.previousEventButton, .nextEventButton {
  z-index: 100;
  position: absolute;
  top: 320px;
  display: flex;
  align-items: center;
  color: lightGray;
  font-size: 2em;
  height: 400px;
  width: 40px;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  color: #ED6564;

}

.prev-next-controls{
  display: none;
}

.previousEventButton  {
  left: 0;
  justify-content: flex-start;
}

.nextEventButton {
  right: 0;
  justify-content: flex-end;
}

/**********************/
/* media query styles */
/**********************/

@media only screen and (min-width: 480px) {
  .prev-next-controls{
    display: block;
  }
}
/* 
@media only screen and (min-width: 768px) {

} */

@media only screen and (min-width: 864px) {

/* ---EVENT SEARCH--- */

  /*styles for tablet*/
  .EventGrid {
    column-count: 2;
  }

  .event-grid-item {
/*    width: 45%;
    margin: 10px;*/
  }

}

@media only screen and (min-width: 768px) {
  /*styles for notebooks*/
  .EventGrid {
    column-count: 3;
    padding: 20px 40px 0px 40px;
  }

  .event-grid-item {
   /* width: 30%;*/
  }

}

@media only screen and (min-width: 992px) {

  /*styles for desktop*/

  .EventGrid {
    column-count: 4;
    padding: 20px 80px 0px 80px;
  }

  .event-grid-item {
    /*width: 21%;*/
  }

  .heroHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 345px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.6);
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2.7px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    background: #ED6564 url(./images/heroHeader.svg) center no-repeat;
    background-size: auto 100%;
  }

  .heroHeader2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 345px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.6);
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2.7px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    background: #ED6564 url(./images/heroHeader.svg) center no-repeat;
    background-size: auto 100%;
  }

  .searchInput{
    width: 60%;
  }

  .search-card{
    padding: 20px;
    min-width: 280px;
    margin: 0px 60px;
    height: auto;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
    margin: -20px 20px 0px 20px;
    width: 727px;
  }

  .close-menu{
    display: none;
  }

  .searchButton{
    width: 20%;
    position: fixed;
    bottom:32px;
    cursor:pointer;
  }

  /* ---EVENTS DESKTOP--- */

  .search-controls{
    margin: -30px auto 0px auto;
    width: 75%;
    min-width: 280px;
    height: auto;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
  }
    
  .eventImage{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width:75%;
    height:100%;
    background-image: fill;
    height: 220px;
    box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
    border-radius: 0px 0px 10px 10px;
  }

  .eventInfoContainer{
    margin:-20px 60px 0px 60px;
  }

  .eventInfoCard {
    padding: 20px;
    width:75%;
    min-width: 280px;
    margin: 0;
    height: auto;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
  }
  
  .previousEventButton, .nextEventButton {
    z-index: 100;
    position: absolute;
    top: 400px;
    display: flex;
    align-items: center;
    color: lightGray;
    font-size: 2em;
    height: 400px;
    width: 40px;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    color: #ED6564;
  }
  
  .previousEventButton {
    left: 5%;
    justify-content: flex-start;
  }
  
  .nextEventButton {
    right: 5%;
    justify-content: flex-end;
  }

}

@media only screen and (min-width: 1200px) {

  /*styles for large desktop*/
  .EventGrid {
    padding: 20px 80px 0px 80px;
  }

  .event-grid-item {
/*    width: 21%;*/
  }

}

