body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.headerBar{
  display: flex;
  width: 100%;
	height: 60px;
  background-color: #ed6564;
  text-align: center;
  font-family: Avenir;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2.7px;
	text-align: center;
  color: rgba(255, 255, 255, 0.9);
  align-items: center;
  justify-content: center;
}

input{
  width:335px;
  text-align: center;
  border-style: none;
  border-bottom: 2px solid #ed6564;
  font-size: 2em;
  padding-bottom: 10px;
}

.App {
  min-width: 320px;
}

.Controls{
  display: flex;
  justify-content: center;
}

.EventSearch{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.date-params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.distance-params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.radio-button {
  padding: 5px 10px;
  text-align: center;
  color: #ed6564;
  border: 1px solid #ed6564;
  border-radius: 20px;
}

.active {
  color: #fff;
  background-color: #ed6564;
  font-weight: 600;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category {
    word-wrap: break-word;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}
.category-active {
    word-wrap: break-word;
    width: 100px;
    height: 100px;
    border: 1px solid #fd6968;
}

.primaryButton{
  width: 237px;
	height: 40px;
	border-radius: 31.5px;
  background-color: #ed6564;
  margin:20px;
}

.Events {

}

.eventCanvas{
  display: flex;
  justify-content: center;
}

.EventDetail{
  width: 335px;
  /* border: 1px solid rgba(128, 128, 128, 0.37); */
}

.eventTitle{
	font-family: Avenir;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 2px;
	text-align: center;
	color: rgba(42, 42, 42, 0.9);
}

.eventDate{
	font-family: Avenir;
	font-size: 12px;
	font-weight: 900;
	line-height: 1.0;
	letter-spacing: 1px;
	text-align: center;
  color: rgba(88, 88, 88, 0.45);
  text-transform: uppercase;
}

.imageCard{
  display: flex;
  justify-content: center;
  position:relative;
  background-size:cover;
}

    .eventImage{
      width: 295px;
      height: 200px;
      border-radius: 4px;
      box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25); 
      
    }

    .eventCategory{
      bottom:0px;
      position: absolute;
      background:white;
      font-family: Avenir;
      font-size: 10px;
      font-weight: 900;
      letter-spacing: 1.2px;
      text-align: right;
      color: #fd6968;
      padding:4px 10px;
      border-radius: 2px;
    }

     
.eventInfo{
  display: flex;
  justify-content: center;
}

.eventInfoCard{
  margin: 0;
  width: 335px;
	height: 237px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
}

  .eventTime{
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    line-height: 0.6;
    letter-spacing: 1.7px;
    text-align: center;
    color: rgba(88, 88, 88, 0.9);
  }

  .eventLocation{
    font-family: Avenir;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #4a90e2;
    margin: 20px;
  }

  .eventDescription{
    margin:20px;
    font-family: Avenir;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(88, 88, 88, 0.9);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 295px;
    max-height: 72px;
  }

  .viewMore{
    font-family: Avenir;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2.3px;
    color: #fd6968;
  }
