body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.EventSearch {

}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category {
    word-wrap: break-word;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}
.category-active {
    word-wrap: break-word;
    width: 100px;
    height: 100px;
    border: 1px solid #fd6968;
}

.Events {

}

