body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #ed6564;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  color: #ed6564;
  text-transform: uppercase;
  height:60px;
  margin:10px 20px;
}

.heroHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.7px;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  background: #ED6564 url(./images/heroHeader.svg) center no-repeat;
  background-size: auto 100%;
}

.heroHeader2{
  display: none;
}

.header-links{
  display: block;
  list-style: none;
  text-transform: capitalize;
  font-weight: 300;
  cursor: pointer;
  width:100%;
  padding:0;

}

.header-links li{
  display: block;
  padding-left: 30px;
  margin:10px auto;
}

.header-links a {
  text-decoration: none;
  color: #ED6564;
}
.header-links span a{
  background: #ED6564;
  color:white;
  padding: 4px 60px;
  border-radius: 20px;
}

.heroHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 345px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.7px;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  background: #ED6564 url(./images/heroHeader.svg) center no-repeat;
  background-size: auto 100%;
}

.close-menu{
  position: absolute;
  top:20px;
  right:20px;
}
/* --------  */

.backToSearch {
  cursor:pointer;
}

.divider {
  width: 100%;
  border: 1px solid rgba(216, 216, 216, 0.25);
}

.searchInput::placeholder {
  opacity: .5;
}

.location-params {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detect-location {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin:20px auto;
  font-family: Avenir-Heavy;
  font-size: 16px;
  color: #585858;
  letter-spacing: 2px;
}

.detect-location .fa-location-arrow {
  color: #01C69F;
}

.searchInput{
  opacity:1;
  margin: 20px auto 10px auto;
  min-width: 260px;
  width: 90%; /*60% on tablet/desktop*/
  text-align: center;
  border-style: none;
  border-bottom: 2px solid #ed6564;
  border-radius: none;
  padding-bottom: 10px;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-align: center;
  color: #585858;
}

.label{
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2.3px;
  color: rgba(88, 88, 88, 0.6);
  margin:20px;
}

.App {
  min-width: 320px;
}

.searchButton{
  width: 80%;
  height: 50px;
  position: fixed;
  bottom:24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color:white;
  background-color: #01C69F;
  box-shadow: 0 1px 8px 0 rgba(86, 86, 86, 0.5);
  border-radius: 100px;
  border: none;
}

button:focus {
  outline: none;
}

.btnContain {
  display: flex; 
  justify-content: center;
}

.stringSearchBG{
  margin:0;
  width:100%;
  height:60px;
  background: #F1F1F1;
}

.stringSearch{
  text-align: left;
  width:95%;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  margin:10px;
  height:40px;
  position: relative;
  padding-left: 10px;
}

.stringSearchBG button{
  position: absolute;
  right:20px;
  top:82px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 2.7px;
  text-align: right;
  color: #fd6968;
  text-transform: capitalize;
}


.EventSearch{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.date-params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.distance-params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;

}

.radio-button {
  padding: 5px 10px;
  text-align: center;
  color: #ed6564;
  border: 1px solid #ed6564;
  border-radius: 20px;
  letter-spacing: 2.7px;
  width:114px;
  max-width: 114px;
  max-height:32px;
}

.active {
  color: #fff;
  background-color: #ed6564;
  font-weight: 600;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:20px auto 20px auto;
  font-size: 10px;
}

.category {
  word-wrap: break-word;
  width: 125px;
  height: 125px;
  border: .5px solid rgba(88, 88, 88, 0.1);
  text-align: center;
  opacity: .75;
  color:#585858;
}

.category h6,.category-active h6 {
  font-size:12px;
}

.category-active {
  word-wrap: break-word;
  width: 125px;
  height: 125px;
  border: .5px solid rgba(88, 88, 88, 0.1);
  text-align: center;
  opacity: 1;
  color:#ed6564;
}

.category-active i {
  /* background: url(./images/heroHeader.svg) center no-repeat; */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ed6564;
  opacity: 1;
  height:48px;
  width:48px;
  border-radius: 100%;
  margin:16px auto 12px auto;
}

.circle i {
  color: white;
 
}

.active-circle{
  /* add check mark */
}

h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: 2px;
  text-align: center;
  margin:0;
}

.Events {
  /* Styles associated with Events container */
}

.noEventsFound{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: auto 100%;
  margin:40px auto;
}

.empty-illustration{
  background: #fff url(./images/empty_state.svg) center no-repeat;
  width:209px;
  height: 229px;
  align-items: center;
  justify-content: center;
  margin-bottom:40px;
  
}

.noEventsFound p{
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  margin:20px 20px;
  color:#585858;
}

.backToSearchButton{
  display: flex;
  width: 237px;
  height: 50px;
  position: fixed;
  bottom:24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  color:white;
  background-color: #9F71E7;
  box-shadow: 0 1px 8px 0 rgba(86, 86, 86, 0.5);
  border-radius: 100px;
  border: none;
  cursor:pointer;
}

.eventCanvas{
  display: flex;
  justify-content: center;
}

.EventDetail{
  width: 100%;
  scroll-behavior: smooth;
  /* border: 1px solid rgba(128, 128, 128, 0.37); */
}

.eventImage{
  margin:0;
  display: flex;
  justify-content: center;
  width:100%;
  height:100%;
  background-image: fill;
  height: 220px;
  box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25); 
}

.eventInfoContainer {
  display: flex;
  justify-content: center;
  margin: -20px 0px 0px 0px;
}

.eventInfoCard {
  padding: 20px;
  min-width: 280px;
  margin: 0px 60px;
  height: auto;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
}

.eventTitle {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(42, 42, 42, 0.9);
  margin: 0px 0px 10px 0px;
}

.eventTime{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0px;
  font-size: 1.1em;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 1.7px;
  color: rgba(88, 88, 88, 0.9);
}

.eventTime p {
  margin: 0px;
}

.eventDate{
  margin: 0px 0px 20px 0px;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.0;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(88, 88, 88, 0.45);
  text-transform: uppercase;
}

.eventVenue {
  margin: 0px;
  font-size: .9em;
  font-weight: 600;
  padding: 20px 0px 0px 0px;
}

.eventLocation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #4a90e2;
}

.eventLocation p {
  /* Styles associated with event location */
}

.event-sharing {
  display: flex;
}

.event-sharing a {
  color: rgba(88, 88, 88, 0.9);
}

.event-sharing i {
  margin-left: 5px;
}

.react-add-to-calendar {
  position: relative;
}

.react-add-to-calendar__dropdown {
  position: absolute;
  top: 18px;
  right: -10px;
  font-size: .8em;
  font-weight: 300;
  /*width: 165px;*/
  background-color: #efefef;
  border-radius: 5px;
}

.react-add-to-calendar__dropdown ul {
  margin: 0px;
  padding: 10px 10px 0px 10px;
  list-style: none;
}

.react-add-to-calendar__dropdown li {
  margin-bottom: 10px;
  white-space: nowrap;  
}

.react-add-to-calendar__dropdown a:hover {
  color: #01C69F;
}

.react-add-to-calendar__dropdown a {
  text-decoration: none;
}

.event-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  text-align: left;
  color: rgba(88, 88, 88, 0.9);
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  height: 72px;
}

.event-description.expanded {
  overflow: unset;
  height: auto;
}

.view-toggle {
  font-size: .8em;
  font-weight: 900;
  letter-spacing: 2.3px;
  color: #fd6968;
  display: flex;
  justify-content: center;
}

.view-toggle div {
  text-align: center;
}

.view-toggle p {
  margin: 0px;
}

input:focus {
  outline: none;
}

.directions {
  display: flex;
  justify-content: center;
}

.directions a {
  margin: 0px 5px;
  color: rgba(88, 88, 88, 0.9);  
}

.directions a:hover {
  color: #01C69F;
}

.Controls {
  display: flex;
  justify-content: center;
  height:50px;
  width:100%;
  border-bottom:1px solid rgba(216, 216, 216, 0.25);
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(86, 86, 86, 0.5);
}

.event-index{
  font-weight: 400;
  margin:24px auto;
  color: #585858;

}


/* loading styles */

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.seq-preloader {
  background: rgba(255,255,255,.8);
  visibility: visible;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #ED6564;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color:#ED6564;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}

/* Sloth's Styles for new nest and previous buttons for swiping cards */

.Controls {
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background: transparent;
  border: 0;
  box-shadow: none;
  height: 500px;


}

.previousEventButton, .nextEventButton {
  z-index: 100;
  position: absolute;
  top: 320px;
  display: flex;
  align-items: center;
  color: lightGray;
  font-size: 2em;
  height: 400px;
  width: 40px;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  color: #ED6564;

}

.previousEventButton {
  left: 0;
  justify-content: flex-start;
  
}

.nextEventButton {
  right: 0;
  justify-content: flex-end;
  
}

@media only screen and (min-width: 480px) {
  /*styles for tablet*/
}

@media only screen and (min-width: 768px) {
/*styles for notebooks*/
}



@media only screen and (min-width: 992px) {

/* ---EVENT SEARCH--- */

  .heroHeader2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 345px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.6);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2.7px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    background: #ED6564 url(./images/heroHeader.svg) center no-repeat;
    background-size: auto 100%;
  }

  .search-card-container{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .search-card{
    padding: 20px;
    min-width: 280px;
    margin: 0px 60px;
    height: auto;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
    margin: -20px 20px 0px 20px;
    width: 727px;
  }

  .searchButton{
    width: 20%;
    position: fixed;
    bottom:32px;
  }

  /* ---EVENTS--- */

  .header-bar{
    
  }
  .search-controls{
    margin: -30px auto 0px auto;
    width: 60%;
    min-width: 280px;
    height: auto;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
  }
    
  .eventImage{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width:60%;
    height:100%;
    background-image: fill;
    height: 220px;
    box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
    border-radius: 0px 0px 10px 10px;
  }

  .eventInfoContainer{
    margin:-20px 60px 0px 60px;
  }

  .eventInfoCard {
    padding: 20px;
    width:60%;
    min-width: 280px;
    margin: 0;
    height: auto;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(148, 148, 148, 0.25);
  }

}

@media only screen and (min-width: 1200px) {
/*styles for large desktop*/
}